<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Khoa Pham</title>
        <script src="bundle.js"></script>
    </head>
    <body>
        <h1>Khoa Pham Training</h1>
        <div id="divSignUp">
            <input type="text" id="txtUsername" placeholder="Enter your username"/>
            <button id="btnSignUp">CLICK</button>
        </div>
        <div id="divChat">
            <div>List user:</div>
            <ul id="ulUser"></ul>
            <hr />
            <video width="320" height="180" controls></video>
            <hr />
            <video width="320" height="180" controls></video>
        </div>
    </body>
</html>
